$link_color:  #1890ff;
$section_title_color: #1f6eb7;
body {
  margin: 0px;
}
ul {
  margin-block-start: 0px;
    margin-block-end: 0px;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: auto;
  padding-bottom: 10px;
  .header {
    padding: 20px 40px;
    text-align: center;
    margin-bottom: 5px;
    .full_name {
      font-weight: 400;
      font-size: 38px;
    }
    .profiles {
      .sub_profile {
        text-align: right;
        margin-bottom: 10px;
        a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.85);
          &:hover {
            color: $link_color;
          }
        }
      }
    } 
  }
  .section {
    background-color: white;
    padding: 5px 40px;
    .date_range {
      font-size: 15px;
      color: grey;
      font-style: italic;
      font-weight: 100;
    }
    .sep {
      margin-left: 2px;
      margin-right: 2px;
      font-weight: 100;
    }
    &>.title {
      color: $section_title_color;
      font-size: 28px;
      font-weight: 600;
      padding-bottom: 10px;
      border-bottom: 1px solid #e8e6e6;
    }
    ul {
      li {
        margin: 10px 0px;
      }
    }
  }
  .experience {
    .employment {
      margin-top: 15px;
      .employment_header {
        .sep {
          font-weight: bold;
        }
        .employer {
          font-weight: bold;
          font-style: italic;
        }
      }
      .technical_stack {
        display: flex;
        .title {
          font-weight: 600;
          margin-left: 24px;
        }
        .skills {
          margin-left: 10px;
          .skills_wrapper {
            display: flex;
            flex-wrap: wrap;
            .skill {
              font-size: 15px;
              border-radius: 3px;
              // background-color: $skill_backgroud_color;
              height: 22px;
              // padding: 5px 10px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .education {
    .education_overview {
      ul {
        list-style: none;
        padding-inline-start: 0px;
        .education_item {
          .education_achievement {
            font-weight: bold;
            margin-bottom: 5px;
          }
          .school_name {
            color: grey;
            font-style: italic;
          }
        }
      }
    }
  }
}


